<link rel="stylesheet" href="/assets/css/bootstrap.css">

<a href="/rock">Play Rock</a>
<a href="/paper">Play Paper</a>
<a href="/scissors">Play Scissors</a>

<h1>You played scissors!</h1>
<h1>
  The computer played
  <%= @computer_move %>
</h1>

<h1>
You <%= @outcome %>!
</h1>
