<div class="container text-center">
  <div class="row">
    <div class="col-sm-offset-2 col-xs-8">

      <h2>Welcome to Rock-Paper-Scissors!</h2>

      <hr>

      <body>
        <p>  Rock-Paper-Scissors is a popular and fun game. Each player simultaneously put out their hand in the form of "paper", "rock", or "scissors". </p>
        <p>Rule:</p>
        <ul style="list-style-type:none; margin:0; padding:0;">
          <li>Paper beats Rock</li>
          <li>Rock beats Scissors</li>
          <li>Scissors beats Paper</li>
        </ul>

      </body>

    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-sm-offset-2 col-xs-8">
      <h4>Please Select Your Move Below. Good Luck!</h4>

      <div class="row text-center">
        <div class="col-sm-offset-2 col-sm-8">
          <a href="/rock" class="btn btn-block btn-primary">
            Play Rock
          </a>
          <a href="/paper" class="btn btn-block btn-info">
            Play Paper
          </a>
          <a href="/scissors" class="btn btn-block btn-primary">
            Play Scissors
          </a>
        </div>
      </div>
    </div>

  </div>

</div>
